body {
    background-color: white;
    font-family: "Lugrasimo", sans-serif;
    font-style:bold;
    color: #24292e;
    }

    /* setting up styles for play area */

    .heading {
        
        text-align: center;
        font-size:2.5rem;
        font-style:bold;
    }
    .game-area {

        background-color: cyan;
        margin-left:30vw;
        width:40vw;
        font-size:1.5rem;
    }

    .input_area {
        font-size:1.5rem;
        font-style:bold;
        margin-top:5vw;
    }

    .player-input {
        width:20vw;
        text-align:left;
        margin-left:9vw;
    }

    .player-choice {
        width:10vw;
        text-align:center;
        margin-left:2vw;
    }

    .computer-input {
        width:20vw;
        text-align:center;
        margin-left:5vw;
    }

    .btn {
        background-color:cyan;
        border:none;
    }

    .btn:hover
    {
        color:red;
        background-color:transparent;
    }

    .btn--rock {
        font-size:60px;
        color:rgb(97, 45, 3);
        rotate:90deg;
    
    }

    .btn--rock:hover,
    .btn--rock:active
    {
        color:red;
        background-color:yellow;    
    }
    
    .btn--paper {
        font-size:60px;
        color:rgb(240, 121, 24);
        rotate:90deg;
    }

    .btn--paper:hover,
    .btn--paper:active
    {
        color:red;
        background-color:yellow;    
    } 
    
    .btn--scissors {
        font-size:60px;
        color:rgb(97, 99, 100);
        rotate: 0 1 0 180deg;
    }

    .btn--scissors:hover,
    .btn-scissors:active
    {
        color:red;
        background-color:yellow;    
    }
    

    .btn--input {
        margin-left:6vw;
    }

    .btn--choice {
        background-color:cyan;
        border:none;
    }

    .btn--computer-input {
        margin-left:4vw;
    }

    .placeholder--p {
        font-size:55px;
        color:rgb(22, 0, 216);
    }

    .placeholder--c {
        font-size:55px;
        color:rgb(255, 0, 43);
    }

   

    

    /* Results and score area */

    .result-text{
        text-align:center;
        font-size:1.5rem;
        font-style:bold;
        color:rgb(255, 0, 0);
    }

    .score-area {
        text-align:center;
        font-size:1.5rem;
        font-style:bold;
        color:rgb(231, 56, 56);
    }

    .score {
        margin-left:2vw;
        margin-right:2vw;
        border:1px;
        font-style:bold;
        color:cyan;
        background-color:rgb(85, 84, 84);
    }

    .btn--reset {
        background-color:rgb(255, 0, 0);
        font-size:2rem;
        border:none;
    }


    /* viewport size query */

    @media (max-width: 768px) {
        .game-area {
            margin-left:0vw;
            width:100vw;
        }

        .player-input {
            width:40vw;
            text-align:left;
            margin-left:0vw;
        }

        .player-choice {
            width:20vw;
            text-align:center;
            margin-left:0vw;
        }

        .computer-input {
            width:40vw;
            text-align:center;
            margin-left:2vw;
        }

        .btn--input {
            margin-left:0vw;
        }

        .btn--choice {
            margin-left:5vw;
        }

        .btn--computer-input {
            margin-left:20vw;
        }

        .placeholder--p {
            font-size:55px;
            color:rgb(22, 0, 216);
        }

        .placeholder--c {
            font-size:55px;
            color:rgb(255, 0, 43);
        }
        .score {
            margin-left:0vw;
            margin-right:0vw;
            border:1px;
            font-style:bold;
            color:cyan;
            background-color:rgb(85, 84, 84);
        }
    }